@use "tailwindcss";
@use "../styles/AuthStyles.scss";
@use "sass:map";
@use "../styles/Constants.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&display=swap');




body {
  @include Constants.font-primary();
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background-color: map.get(Constants.$color-palette,"white-marble")
}

// h1, h2, h3, h4, h5, h6 {
//   @include font-secondary($font-weight-bold);
//   line-height: 1.2;
//   margin-bottom: 0.6em;
//   color: map.get($color-palette,"deep-navy")
// }

button, .card-title {
  @include Constants.font-secondary(Constants.$font-weight-medium);
  text-transform: capitalize;
}

table {
  @include Constants.font-primary(Constants.$font-weight-regular);
  font-size: 0.95rem;

}
// $gradient-from: #FAFAFA;
// $gradient-to: rgba(#A0D6D3, 0.2);
// .bg-gradient-to-br {
//   background-image: linear-gradient(to bottom right, $gradient-from, $gradient-to);
// }

// Example utility classes
.text-primary { @include Constants.font-primary(Constants.$font-weight-medium); }
.text-secondary { @include Constants.font-secondary(Constants.$font-weight-semibold); }



.displayNone{
  display: none;

}

@media all and (max-width: 1023px) {
  .displayNoneRes {
    display: none;
  }
}
@media all and (max-width: 414px) {
  .fdc-res{
    display: flex;
    flex-direction: column;
  }
}